body {
    background-image: url("https://github.com/smopeh/MusicHome/blob/main/pexels-felixmittermeier-956999.jpg");
    background-size: cover;                 
    background-position: center;             
    background-repeat: no-repeat;           
}

