h1 {
  font-family: "Fjord One";
}

h3 {
  padding: 0 0 20px 0;
  margin: 0;
}

.playlistElement {
  display: inline-block;
  list-style-position: inside;
  padding: 0 0 0 20px;
  margin: 0;
  overflow: hidden;
  width: max-content;
}
.playlistElement li {
  color: black;
}

.playlistElement li a {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.playlists li a:hover {
  cursor: pointer;
  font-style: italic;
}

.p1 {
  display: inline-block;
  padding: 0;
  margin: 0;
}